<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/">
            <!-- <img class="logo" src="assets/img/logo.png" alt="logo"> -->
            Admin / 
        </a>
    </span>
    <span class="title-group">
        <a href="">
            <!-- <i class="material-icons">
                home
            </i> -->
             Aplicação CRUD
        </a>
    </span>
    <span class="title-group">
        <button mat-raised-button (click)="logout()" class="logout">
            <!-- <i class="material-icons">
                home
            </i> -->
             Sair
        </button>
    </span>
</mat-toolbar>
