.header {
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
}
.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logout {
    position: absolute;
    right: 15px;
    top: 15px;
}
.header .logo {
    width: 100px;
}
.title-group i {
    color: black;
}